body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #202124;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  color: #70757a;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 0px;
  margin-top: -24px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(32, 33, 36);
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}
.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: -24px;
}

.weather-temperature .active {
  color: rgb(32, 33, 36);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
